.delete-item {
  display: none;
}
.card-item:hover {
  -webkit-box-shadow: 10px 6px 14px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 6px 14px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 6px 14px -6px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  .delete-item {
    display: block;
  }
}
